<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Shopping</h3>
</div>

<div class="jumbotron">
  <h2><span class="glyphicon glyphicon-camera"></span>Camera Shopping !</h2>
</div>

<div ng-controller="MainCtrl">
    Comparing: <span class="btn btn-default" ng-repeat="item in selected">{{ item }}</span>
    <h4 ng-show="compareLimitReached" class="alert-danger">You can only compare {{selected.length}} items at one time !!</h4>

    <div ng-repeat="camera in cameras.cameras" class="nav-divider">
    <div>
        <input type="checkbox" ng-model="camera.id" name="{{camera.id}}" value="{{camera.id}}" ng-click="addForComparison(camera.id)" ng-changed="changed()">
            <span class="table-hover">{{ camera.name}}</span>
            <br/>
        </div>
        <br/><br/>
    </div>

</div>

<div class="footer">
  <p>&copy;All Rights Reserved</p>
</div>
